In [18]:
import pandas as pd
df = pd.read_csv('s2017.csv')

In [19]:
df[:5]

   List    Sr. No.   fname    sname Specialism  Reserve Price Rs Lakh
0                1    Faiz    Fazal    Batsman                     30
1                2  Martin  Guptill    Batsman                     50
2                3    Alex    Hales    Batsman                    100
3                4    Eoin   Morgan    Batsman                    200
4                5   Jason      Roy    Batsman                    100

In [20]:
df['Specialism'].value_counts()

All-rounder    146
Bowler         114
Batsman         61
Wk/Batsman      30
Name: Specialism, dtype: int64

In [23]:
role = []
pname= []
wrds = ['Batsman','All-rounder','Wk/Batsman']
for inde, row in df.iterrows():
    #print row['Specialism']
    if str(row['Specialism']) != 'nan':
        if any( x in str(row['Specialism']) for x in wrds):
            pname.append(row['fname'] + '+' + row['sname'])
            role.append(1)
        else:
            pname.append(row['fname'] + '+' + row['sname'])
            role.append(0)
print  len(role)
print  len(pname)

351
351

In [25]:
roles2017 = pd.DataFrame()
print len(pname)
print len(role)

roles2017['pname'] = pname
roles2017['role'] = role
roles2017.to_csv('roles_2017.csv')

351
351