In [2]:
from bs4 import BeautifulSoup 
import urllib2
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [25]:
def getPlayerBattingDetails(pno, matchFormat, location):
    url  = "http://stats.espncricinfo.com/ci/engine/player/"
    url  = url + str(pno) + ".html?"
    if( matchFormat == 1):
        url = url + "class=2;"
    elif( matchFormat == 2):
        url = url + "class=1;"
    elif( matchFormat == 3):
        url = url + "class=3;"
       
    if(location == 1):
        url = url + "home_or_away=1;"
    if(location == 2):
        url = url + "home_or_away=2;"
    
    url = url + "template=results;type=batting;view=match"
    return(url)

In [26]:
link = (getPlayerBattingDetails(26421,1,0))  
#aswin details in ODI all venues 
print(link)

http://stats.espncricinfo.com/ci/engine/player/26421.html?class=2;template=results;type=batting;view=match

In [3]:
link = "http://stats.espncricinfo.com/ci/engine/player/35320.html?class=2;template=results;type=bowling;view=innings"
page=urllib2.urlopen(link)
soup = BeautifulSoup(page.read(),'html.parser')
#print(soup.prettify())

In [9]:
#print(soup.prettify())
table = soup.find("caption", text="Innings by innings list").find_parent("table")

In [10]:
row =  table.findAll('tr')
col = row[2].findAll('td')

In [11]:
str(col[0].text)

'DNB'

In [12]:
allRows = table.findAll('tr')
print(len(allRows))
allRows = allRows[1:]

464

In [32]:
overs = []
mdns = []
runs = []
wickets = []
econ  = []
opposition = []
venue = []
date = []
for row in allRows: 
    col = row.findAll('td')
    
    colstring0 = str(col[0].text)
    
    if(colstring0 != 'DNB'):
        
        overs.append(str(col[0].text))
        mdns.append(str(col[1].text))
        runs.append(str(col[2].text))
        wickets.append(str(col[3].text))
        econ.append(str(col[4].text))
        opposition.append(str(col[8].text))
        venue.append(str(col[9].text))
        date.append(str(col[10].text))

In [33]:
data = {'overs': overs, 'mdns': mdns, 'runs' : runs, 'wickets'  : wickets ,'econ' : econ, 'oppo' : opposition, 'venue' : venue, 'date' : date}

In [34]:
df = pd.DataFrame(data=data)

In [35]:
df

,date,econ,mdns,oppo,overs,runs,venue,wickets
0,20 Jul 1990,10.00,0,v England,1.0,10,Nottingham,0
1,5 Dec 1990,4.33,0,v Sri Lanka,9.0,39,Pune,2
2,25 Dec 1990,7.50,0,v Bangladesh,2.0,15,Chandigarh,0
3,22 Oct 1991,3.40,1,v West Indies,10.0,34,Sharjah,4
4,23 Oct 1991,3.33,0,v Pakistan,6.0,20,Sharjah,0
5,25 Oct 1991,4.80,0,v Pakistan,5.0,24,Sharjah,0
6,10 Nov 1991,5.40,0,v South Africa,5.0,27,Kolkata,1
7,12 Nov 1991,4.42,0,v South Africa,7.0,31,Gwalior,0
8,14 Nov 1991,6.33,0,v South Africa,6.0,38,New Delhi,0
9,6 Dec 1991,5.00,0,v West Indies,1.0,5,Perth,1
10,8 Dec 1991,2.00,0,v Australia,4.0,8,Perth,0
11,14 Dec 1991,5.00,0,v West Indies,2.0,10,Adelaide,0
12,15 Dec 1991,1.63,0,v Australia,1.5,3,Adelaide,0
13,11 Jan 1992,3.85,0,v West Indies,7.0,27,Brisbane,0
14,14 Jan 1992,7.00,0,v Australia,2.0,14,Sydney,0
15,16 Jan 1992,3.80,1,v West Indies,10.0,38,Melbourne,0
16,18 Jan 1992,4.83,0,v Australia,6.0,29,Melbourne,1
17,20 Jan 1992,4.50,0,v Australia,4.0,18,Sydney,0
18,22 Feb 1992,3.70,0,v England,10.0,37,Perth,0
19,28 Feb 1992,-,-,v Sri Lanka,TDNB,-,Mackay,-
20,1 Mar 1992,5.80,0,v Australia,5.0,29,Brisbane,0
21,4 Mar 1992,3.70,0,v Pakistan,10.0,37,Sydney,1
22,7 Mar 1992,5.83,0,v Zimbabwe,6.0,35,Hamilton,1
23,10 Mar 1992,6.66,0,v West Indies,3.0,20,Wellington,0
24,12 Mar 1992,2.00,0,v New Zealand,1.0,2,Dunedin,0
25,15 Mar 1992,3.33,0,v South Africa,6.0,20,Adelaide,0
26,25 Oct 1992,5.33,0,v Zimbabwe,3.0,16,Harare,0
27,7 Dec 1992,2.50,1,v South Africa,10.0,25,Cape Town,1
28,9 Dec 1992,3.60,1,v South Africa,5.0,18,Port Elizabeth,0
29,11 Dec 1992,8.00,0,v South Africa,2.0,16,Centurion,0
...,...,...,...,...,...,...,...,...
247,24 Jan 2007,3.12,0,v West Indies,8.0,25,Cuttack,2
248,27 Jan 2007,6.60,0,v West Indies,5.0,33,Chennai,0
249,11 Feb 2007,4.55,0,v Sri Lanka,9.0,41,Rajkot,1
250,14 Feb 2007,8.25,0,v Sri Lanka,4.0,33,Margao,0
251,17 Mar 2007,2.66,0,v Bangladesh,3.0,8,Port of Spain,0
252,19 Mar 2007,1.00,0,v Bermuda,1.0,1,Port of Spain,1
253,23 Mar 2007,5.00,0,v Sri Lanka,8.0,40,Port of Spain,1
254,23 Jun 2007,6.00,0,v Ireland,4.0,24,Belfast,1
255,29 Jun 2007,10.00,0,v South Africa,1.0,10,Belfast,0
256,1 Jul 2007,10.00,0,v South Africa,1.0,10,Belfast,2
257,21 Aug 2007,7.25,0,v England,4.0,29,Southampton,0
258,30 Aug 2007,4.00,0,v England,1.0,4,Manchester,0
259,2 Sep 2007,7.00,0,v England,5.0,35,Leeds,0
260,5 Sep 2007,12.00,0,v England,1.0,12,The Oval,0
261,2 Oct 2007,7.33,0,v Australia,3.0,22,Kochi,0
262,5 Oct 2007,5.50,0,v Australia,4.0,22,Hyderabad (Deccan),0
263,11 Oct 2007,5.50,0,v Australia,2.0,11,Vadodara,0
264,14 Oct 2007,4.00,0,v Australia,5.0,20,Nagpur,0
265,5 Nov 2007,6.40,0,v Pakistan,5.0,32,Guwahati,2
266,8 Nov 2007,11.00,0,v Pakistan,1.0,11,Mohali,0
267,11 Nov 2007,11.00,0,v Pakistan,1.0,11,Kanpur,0
268,5 Feb 2008,-,-,v Sri Lanka,TDNB,-,Brisbane,-
269,10 Feb 2008,3.00,0,v Australia,2.0,6,Melbourne,0
270,12 Feb 2008,7.50,0,v Sri Lanka,2.0,15,Canberra,0
271,3 Feb 2009,11.00,0,v Sri Lanka,1.0,11,Colombo (RPS),0
272,6 Mar 2009,-,-,v New Zealand,TDNB,-,Wellington,-
273,8 Nov 2009,13.20,0,v Australia,0.5,11,Guwahati,0
274,24 Mar 2011,4.50,0,v Australia,2.0,9,Ahmedabad,0
275,2 Apr 2011,6.00,0,v Sri Lanka,2.0,12,Mumbai,0
276,18 Mar 2012,7.20,0,v Pakistan,1.4,12,Dhaka,0

In [36]:
file_name = "26421batting"
file_name =  file_name + ".csv"
df.to_csv(file_name, index=True)

In [19]:
plt.plot(df['runs'])
plt.show()

ValueError: could not convert string to float: -